n8n_b2c_workflow.json
{
  "name": "B2C Lead Ingestion — OpenClaw to Notion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b2c-lead-ingestion",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c-webhook-trigger",
      "name": "Webhook: B2C Lead Ingestion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "b2c-lead-ingestion",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Cogstack Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// B2C Lead Ingestion — Direct Notion API (n8n)\n// ===========================================\n\n// CONFIGURE THESE THREE VALUES:\nconst NOTION_API_KEY = process.env.NOTION_API_KEY; // Set in n8n → Settings → Environment Variables\nconst B2C_LEADS_DB_ID = '32089024-cd3d-812e-a6c6-d8e21d9126b3';\nconst B2C_BATCHES_DB_ID = '32089024-cd3d-81a7-8691-ca999aa1494f';\n\n// ===========================================\n\nconst NOTION_VERSION = '2022-06-28';\nconst BASE_URL = 'https://api.notion.com/v1';\nconst SEGMENT = 'B2C';\n\n// Capture `this` at the top level where it is valid in n8n Code nodes\nconst helpers = this.helpers;\n\n// Helper: Notion API call using n8n's built-in this.helpers.httpRequest()\nasync function notionRequest(method, path, body) {\n  const options = {\n    method,\n    url: `${BASE_URL}${path}`,\n    headers: {\n      'Authorization': `Bearer ${NOTION_API_KEY}`,\n      'Content-Type': 'application/json',\n      'Notion-Version': NOTION_VERSION,\n    },\n    json: true,\n  };\n  if (body !== undefined) {\n    options.body = body;\n  }\n  return await helpers.httpRequest(options);\n}\n\n// Get the incoming data — n8n webhook delivers payload under .body\nconst body = $input.first().json.body;\n\nif (!body || !body.batch_id || !body.leads || !body.leads.length) {\n  return [{ json: { status: 'error', message: 'Invalid payload: missing batch_id or leads array' } }];\n}\n\nif (body.segment && body.segment !== SEGMENT) {\n  return [{ json: { status: 'error', message: `Wrong segment: expected B2C, got ${body.segment}` } }];\n}\n\nconst batchId = body.batch_id;\nconst leads = body.leads;\nlet created = 0;\nlet duplicates = 0;\nlet errors = [];\nlet batchPageId = null;\n\n// --- Step 1: Create B2C Batch Record ---\ntry {\n  const batchPage = await notionRequest('POST', '/pages', {\n    parent: { database_id: B2C_BATCHES_DB_ID },\n    properties: {\n      'Batch ID': { title: [{ text: { content: batchId } }] },\n      'Run Date': { date: { start: new Date().toISOString() } },\n      'Status': { select: { name: 'Running' } },\n      'Leads Found': { number: leads.length },\n    },\n  });\n  batchPageId = batchPage.id;\n} catch (e) {\n  errors.push(`Batch creation error: ${e.message}`);\n}\n\n// --- Step 2: Process each B2C lead ---\nfor (const lead of leads) {\n  try {\n    // B2C dedup: by intent_source_url only\n    // Same post URL = same lead (duplicate). Same person posting again = new URL = new lead.\n    if (lead.intent_source_url) {\n      const searchData = await notionRequest('POST', `/databases/${B2C_LEADS_DB_ID}/query`, {\n        filter: {\n          property: 'Intent Source URL',\n          url: { equals: lead.intent_source_url },\n        },\n        page_size: 1,\n      });\n\n      if (searchData.results && searchData.results.length > 0) {\n        duplicates++;\n        continue;\n      }\n    }\n\n    // Build Notion page properties\n    const properties = {\n      'Full Name': { title: [{ text: { content: lead.full_name || 'Unknown' } }] },\n      'Status': { select: { name: 'Pending QA' } },\n      'Date Added': { date: { start: new Date().toISOString() } },\n    };\n\n    // Phone and email (dedicated Notion property types)\n    if (lead.phone) properties['Phone'] = { phone_number: lead.phone };\n    if (lead.email) properties['Email'] = { email: lead.email };\n\n    // URL fields\n    if (lead.intent_source_url) properties['Intent Source URL'] = { url: lead.intent_source_url };\n\n    // Date fields\n    if (lead.intent_date) {\n      properties['Intent Date'] = { date: { start: lead.intent_date } };\n    }\n\n    // Rich text fields\n    const textFields = {\n      'City / Area': lead.city,\n      'Intent Signal': lead.intent_signal,\n      'Vehicle Make / Model': lead.vehicle_make_model,\n      'Call Script Opener': lead.call_script_opener,\n      'Sources Used': lead.sources_used,\n      'Dispute Reason': lead.dispute_reason,\n    };\n\n    for (const [key, value] of Object.entries(textFields)) {\n      if (value) {\n        properties[key] = { rich_text: [{ text: { content: String(value).substring(0, 2000) } }] };\n      }\n    }\n\n    // Select fields\n    const selectFields = {\n      'Province': lead.province,\n      'Intent Source': lead.intent_source,\n      'Data Confidence': lead.data_confidence,\n    };\n\n    for (const [key, value] of Object.entries(selectFields)) {\n      if (value) {\n        properties[key] = { select: { name: value } };\n      }\n    }\n\n    // Number fields\n    if (lead.intent_strength != null) {\n      properties['Intent Strength'] = { number: lead.intent_strength };\n    }\n    if (lead.urgency_score != null) {\n      properties['Urgency Score'] = { number: lead.urgency_score };\n    }\n    if (lead.vehicle_year != null) {\n      properties['Vehicle Year'] = { number: lead.vehicle_year };\n    }\n\n    // Batch relation\n    if (batchPageId) {\n      properties['Batch'] = { relation: [{ id: batchPageId }] };\n    }\n\n    // Create the B2C lead page\n    await notionRequest('POST', '/pages', {\n      parent: { database_id: B2C_LEADS_DB_ID },\n      properties,\n    });\n\n    created++;\n\n  } catch (e) {\n    errors.push(`Error processing ${lead.full_name}: ${e.message}`);\n  }\n}\n\n// --- Step 3: Update B2C batch record ---\ntry {\n  if (batchPageId) {\n    await notionRequest('PATCH', `/pages/${batchPageId}`, {\n      properties: {\n        'Status': { select: { name: errors.length > 0 ? 'Partial' : 'Completed' } },\n        'Leads After Dedup': { number: created },\n        'Errors': errors.length > 0\n          ? { rich_text: [{ text: { content: errors.join('; ').substring(0, 2000) } }] }\n          : { rich_text: [] },\n      },\n    });\n  }\n} catch (e) {\n  errors.push(`Batch update error: ${e.message}`);\n}\n\n// Return result\nreturn [{\n  json: {\n    status: errors.length > 0 ? 'partial' : 'success',\n    segment: SEGMENT,\n    batch_id: batchId,\n    leads_found: leads.length,\n    leads_created: created,\n    duplicates_skipped: duplicates,\n    errors: errors,\n  }\n}];"
      },
      "id": "b2c-code-node",
      "name": "B2C Ingestion Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "b2c-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook: B2C Lead Ingestion": {
      "main": [
        [
          {
            "node": "B2C Ingestion Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B2C Ingestion Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "lead-generation"
    },
    {
      "name": "cogstack"
    },
    {
      "name": "b2c"
    }
  ]
}
